<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width = device-width, height = device-height, initial-scale = 1"
    />
    <title>글 리스트</title>
    
    <style>
      * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
      }

      html {
        width: 100%;
        height: 100%;
      }

      body {
        width: 100%;
        height: 100%;
        color: #000;
        background-color: #fff;
      }

      .container {
        margin-right: auto;
        margin-left: auto;
        padding-left: 20px;
        padding-right: 20px;
      }

      #page_button{
        position: absolute; 
        left: 50%; 
        transform: translateX(-50%);
      }

      span {
        color: #333;
      }

      #board_title {
        font-size: 1.2em;
        font-weight: bold;
        color: teal;
      }
      
    </style>
    <link rel="stylesheet" href="/public/semantic/out/semantic.min.css" />
    <script src="/public/jquery-3.1.1.min.js"></script>
    <script src="/public/semantic/out/semantic.min.js"></script>
    
    <script>
      function listpost(page, perPage) {
        document.location =
          `/process/listpost?page=${page}&perPage=${perPage}`;
      }
    </script>
  </head>

  <body>
    <div class="container">
      <br />
      <div class="ui raised segment">
        <a class="ui blue ribbon label">게시판</a>
        <span id="board_title"><%= title %></span>

        <div class="ui blue fluid card">
          <div class="content">
            <div class="ui grid">
              <div class="two wide column">번호</div>
              <div class="eight wide column">제목</div>
              <div class="two wide column">작성자</div>
              <div class="two wide column">작성일</div>
              <div class="two wide column">조회수</div>
            </div>

            <div class="ui very relaxed selection celled list">
              <% 
              const noStart = (pageCount - page) * perPage; 
              for(let i = 0; i < posts.length; i++){ 
                  const curTitle = posts[i]._doc.title; 
                  const curContents = posts[i]._doc.contents; 
                  const curWriter = posts[i]._doc.writer.name; 
                  const curNo = noStart - i; 
                  const curviews = posts[i]._doc.views;
                  const createdTime = moment(posts[i]._doc.created_at).format("MMM Do");
              %>
              <div class="item">
                <div class="ui grid">
                  <div class="two wide column"><%= curNo %></div>
                  <div class="eight wide column">
                    <h4 class="ui left aligned header" onclick="javascript : window.location = '/process/showpost/<%= posts[i]._id%>'">
                      <%= curTitle %>
                    </h4>
                  </div >
                  <div class="two wide column">
                    <h5 class="ui left aligned orange header">
                      <%= curWriter%>
                    </h5>
                  </div>
                  <div class="two wide column">
                    <h5 class="ui left aligned orange header">
                      <%= createdTime %>
                    </h5>
                  </div>
                  <div class="two wide column">
                      <%= curviews %>
                  </div>
                </div>
              </div>
              <% } %>
            </div>
            <br />
            <div id="page_button" class="tiny ui basic buttons">
              <% if(page > 0){ %>
              <div class="ui icon button" onclick="listpost(0, <%= perPage %>)">
                <i class="angle double left icon"></i>
              </div>
              <div
                class="ui icon button"
                onclick="listpost(<%= (page - 1) %>, <%= perPage %>)"
              >
                <i class="angle left icon"></i>
              </div>
              <% } else { %>
              <div class="ui disabled icon button">
                <i class="angle double left icon"></i>
              </div>
              <div class="ui disabled icon button">
                <i class="angle left icon"></i>
              </div>

              <% } %> 
              <% 
              const initial = Math.floor(page/10) * 10;
              console.log(`initial : ${initial}`); 
              let max = pageCount - initial; 
              if(max > 10 ) { 
                  max = initial + 10; 
              } 
              else { 
                  max = initial + max; 
              } 
              console.log(`max : ${max}`); 
              for(let i = initial; i < max; i++){ 
                  if(i != page){ 
              %>
              <div
                class="ui button"
                onclick="listpost(<%= i %>, <%= perPage %>)">
                <%= i %>
              </div>
              <% }else { %>
              <div class="ui active basic button">
                <%= i %>
              </div>
              <% } 
              } 
              %> 
              <% 
              if((page+1) < pageCount) { 
              %>
              <div
                class="ui icon button"
                onclick="listpost(<%= (page+1) %>, <%= perPage %>)">
                <i class="angle right icon"></i>
              </div>
              <div
                class="ui icon button"
                onclick="listpost(<%= (pageCount - 1) %>, <%= perPage %>)">
                <i class="angle double right icon"></i>
              </div>
              <% } 
              else { %>
              <div class="ui disabled icon button">
                <i class="angle right icon"></i>
              </div>
              <div class="ui disabled icon button">
                <i class="angle double right icon"></i>
              </div>
              <% 
              } 
              %>
            </div>
            <br /><br />
            <a class="ui button" href="/profile">메인페이지</a>
            <a class="ui button" href="/process/listpost?page=<%= page %>&perPage=<%= perPage%>">새로고침</a>
            <a class="ui button" href="/process/addpost">글쓰기</a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
