<!DOCTYPE html>
<div>

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width = device-width, height = device-height, initial-scale = 1" />
    <title>Main</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css" />
    <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" />
    <!-- load fontawesome -->
    <style>
      body {
        padding-top: 80px;
      }

      @font-face {
        font-family: "Nanum Gothic";
        font-style: normal;
        font-weight: 400;
        src: url("../public/font/NanumGothic-Regular.eot");
        src: local("NanumGothic"),
          url("../public/font/NanumGothic-Regular.eot?#iefix") format("embedded-opentype"),
          url("../public/font/NanumGothic-Regular.woff2") format("woff2"),
          url("../public/font/NanumGothic-Regular.woff") format("woff"),
          url("../public/font/NanumGothic-Regular.ttf") format("truetype");
      }

      .menu{
        padding-top: 0px; 
        padding-right: 0px; 
        padding-left: 0px; 
        margin-bottom: 10px;
      }

      .btn {
        padding: 12px;
        font-weight: bold;
        border: none;
        border-radius: 4px;
        margin: 5px 0;
        opacity: 0.85;
        display: inline-block;
        font-size: 17px;
        line-height: 20px;
        text-decoration: none;
        /* remove underline from anchors */
      }

      .logoutBtn {
        float: right;
        padding: 8px;
        opacity: 0.85;
        border: none;
        border-radius: 4px;
        background-color: #ff6450;
        color: #ffffff;
        font-weight: bold;
      }

      h1,
      p,
      a {
        text-decoration: none;
        font-family: "Nanum Gothic";
      }
    </style>
  </head>

  <body>
    <div class="container">
      <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> Sejin Board</h1>
        <br>
        <div class="jumbotron text-center menu" >
          <form method="post" action="/process/listpost" style="float:left;">
            <input type="hidden" name="page" value="0" />
            <input type="hidden" name="perPage" value="5" />
            <input type="submit" class="btn btn-default" name="" value="게시판" />
          </form>
          <a href="/public/amateurPirates.html" class="btn btn-default" style="float:left;">게임</a>
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col-sm-6">
          <div class="well">
            <% if(user.provider == undefined || user.provider == '') { %>
            <div>
              <span class="fa fa-user"></span>로그인 정보
              <a href="/logout" class="logoutBtn">로그아웃</a>
            </div>
            <br />
            <p>
              <strong>이메일</strong> : <%= user.email %><br /><br />
              <strong>이름</strong> : <%= user.name %>
            </p>
            <% } else { %>
            <div>
              <%= user.provider %> 로그인 정보
              <a href="/logout" class="logoutBtn">로그아웃</a>
            </div>
            <br />
            <p>
              <strong>이메일</strong> : <%= user.email %><br /><br />
              <strong>이름</strong> : <%= user.name %>
            </p>
            <% } %>
          </div>
        </div>
      </div>
    </div>
  </body>

</div>