<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <!-- Bootstrap core CSS -->
  <link href="/public/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- Custom styles for this template -->
  <!-- <link href="css/simple-sidebar.css" rel="stylesheet"> -->
  <link href="/public/css/simple-sidebar.css" rel="stylesheet">

  <% const curTitle = posts._doc.title; 
  const curContents = posts._doc.contents; 
  const curWriter = posts._doc.writer.name;
  const curWriterEmail = posts._doc.writer.email;
  const createdTime = moment(posts._doc.created_at).tz("Asia/Seoul").format("LLL");
  const entities = new Entities(); 
  const decodedContents = entities.decode(curContents); %>
  <title><%= curTitle %></title>
  <link rel="stylesheet" href="/public/semantic/out/semantic.min.css" />
  <link rel="stylesheet" href="/public/cleditor/jquery.cleditor.css" />

  <style>
    * {
      padding: 0;
      margin: 0;
      box-sizing: border-box;
    }

    html {
      width: 100%;
      height: 100%;
    }

    body {
      width: 100%;
      height: 100%;
      color: #000;
      background-color: #fff;
    }

    .container {
      margin-right: auto;
      margin-left: auto;
      padding-left: 5px;
      padding-right: 5px;
    }

    span {
      color: #999;
    }

    #titleOutput {
      margin-bottom: 10px;
      line-height: 1.2em;
    }

    #contentsOutput {
      margin-top: 10px;
      margin-bottom: 10px;
      line-height: 1.8em;
    }

    #board_title {
      font-size: 1.2em;
      font-weight: bold;
      color: teal;
    }
  </style>
</head>

<body>
  <div class="d-flex" id="wrapper">
    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
      <div class="sidebar-heading">
        <a href="/">Sejin Board </a>
      </div>
      <div class="list-group list-group-flush">
        <form id="boardbtn" method="post" action="/board/listpost">
          <input type="hidden" name="page" value="0" />
          <input type="hidden" name="perPage" value="5" />
          <a href="#" class="list-group-item list-group-item-action bg-light"
            onclick="document.getElementById('boardbtn').submit();">게시판</a>
        </form>
        <a href="/game/playgame" class="list-group-item list-group-item-action bg-light">게임</a>
        <a href="/public/Three.js/skeleton.html" class="list-group-item list-group-item-action bg-light">Three.js
          연습장</a>
      </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">
      <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
        <button class="btn btn-primary btn-lg" id="menu-toggle"><i class="bars icon"></i></button>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <!-- <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li> -->
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <% if(!user) { %>
                계정
                <% } else { %>
                <%= user.name %>
                <% } %>
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                <% if(!user) { %>
                <a class="dropdown-item" href="/login">로그인</a>
                <% } else { %>
                <a class="dropdown-item" href="/logout">로그아웃</a>
                <% } %>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </li>
          </ul>
        </div>
      </nav>

      <div class="container">
        <br />
        <a class="ui blue label">게시판</a>
        <div class="ui blue fluid card">
          <div class="content">
            <div id="titleOutput" class="header"><%= curTitle %></div>
            <div class="meta">
              <span class="right floated time"><%= createdTime %></span>
              <span class="category">일반</span>
            </div>
            <div id="contentsOutput" class="description">
              <%= decodedContents %>
            </div>
          </div>
          <div class="extra content">
            <div class="right floated author">
              <img class="ui avatar image" src="/public/images/userIcon.png" />
              <%= curWriter %>
            </div>
          </div>
          <div class="extra content">
            <div class="header">댓글: <%= posts._doc.comments.length %></div>
            <% if(user) { %>
            <form id="" method="post" action="/board/newcomment" , onsubmit="return commentConfirmForm();"
              style="padding-bottom: 50px;">
              <input type="hidden" name="commentWriterObjId" value="<%= user._id%>" />
              <input type="hidden" name="postObjId" value="<%= posts._doc._id%>" />
              <textarea name="comment" class="form-control" style="min-width:100%" placeholder="댓글을 입력하세요."></textarea>
              <br />
              <input class="ui submit button" type="submit" value="작성" , name=""
                style="background-color: dodgerblue; color:white; float: right;" />
            </form>
            <% } %>
            <table class="ui tablet stackable striped table">
              <thead>
              </thead>
              <tbody>
                <% 
                    for(let i = 0; i < posts._doc.comments.length; i++){ 
                        const comment = posts._doc.comments[i].contents;
                        const commentWriterName = posts._doc.comments[i].writer.name;
                        const commentWriterEmail = posts._doc.comments[i].writer.email;
                        const commentObjId = posts._doc.comments[i]._id;
                        const createdTime = moment(posts._doc.comments[i].created_at).tz("Asia/Seoul").format("MMM Do");
                    %>
                <!-- 댓글의 인댁스를 tr태그의 id에 붙여주어서 댓글 수정 시에 해당 tr을 찾을 수 있게 한다 -->
                <tr id="commentTr_<%= i%>">
                  <td class="ten wide left aligned">
                    <%= comment %>
                  </td>
                  <td class="six wide right aligned">
                    <%= commentWriterName %> <%= createdTime %>
                    <% if(user && (commentWriterEmail === user.email)) { %>
                    <form id="" method="post" action="/board/deletecomment" , onsubmit="return delConfirmForm();"
                      style="float: right">
                      <input type="hidden" name="postId" value="<%= posts._doc._id %>" />
                      <input type="hidden" name="commentObjId" value="<%= commentObjId %>" />
                      <input class="btn btn-default btn-sm" type="submit" value="삭제" , name=""
                        style="background-color:gray; color:white" />
                    </form>
                    <!-- <a class="btn btn-default btn-sm" href="/board/updatecomment/<%= posts._doc._id %>" style="background-color:gray; color:white; float: right">수정</a> -->
                    <a class="btn btn-default btn-sm" style="background-color:gray; color:white; float: right"
                      onclick="createUpdateCommentBox('<%= i%>', '<%= comment%>', '<%= commentWriterName%>', '<%= createdTime%>', '<%= posts._doc._id %>', '<%= commentObjId%>');">수정</a>
                    <% } %>
                  </td>
                </tr>
                <% } %>
              </tbody>
            </table>
          </div>
        </div>
        <br />
        <a class="ui button" href="/board/listpost?page=0&perPage=5">글 목록</a>
        <% if(user && (curWriterEmail === user.email)) { %>
        <form id="deleteBtn" method="post" action="/board/deletepost" , onsubmit="return delConfirmForm();"
          style="float: right">
          <input type="hidden" name="postId" value="<%= posts._doc._id %>" />
          <input class="ui submit button" type="submit" value="삭제" , name=""
            style="background-color: hsl(14, 100%, 53%); color:white" />
        </form>
        <a class="ui button" href="/board/updatepost/<%= posts._doc._id %>"
          style="background-color:dodgerblue; color:white; float: right">수정</a>
        <% } %>
      </div>
    </div>
  </div>
  </div>
  <!-- /#page-content-wrapper -->
  </div>
  <!-- /#wrapper -->

  <!-- Bootstrap core JavaScript -->
  <script src="/public/vendor/jquery/jquery.min.js"></script>
  <script src="/public/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/public/jquery-3.1.1.min.js"></script>
  <script src="/public/semantic/out/semantic.min.js"></script>
  <script src="/public/cleditor/jquery.cleditor.min.js"></script>
  <script>
    $(document).ready(function () {
      var output = $("#contentsOutput").text();
      $("#contentsOutput").html(output);
    });
  </script>
  <!-- Menu Toggle Script -->
  <script>
    $("#menu-toggle").click(function (e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
    });
  </script>
  <script>
    const delConfirmForm = () => {
      if (confirm("삭제 하시겠습니까?"))
        return true;
      else
        return false;
    };
    const commentConfirmForm = () => {
      if (confirm("댓글을 작성 하시겠습니까?"))
        return true;
      else
        return false;
    };
    const cancelUpdateCommentBox = (commentIdx, comment, commentWriterName, createdTime, postObjId, commentObjId) => {
      console.log(commentIdx, comment, commentWriterName, createdTime, postObjId, commentObjId);
      document.getElementById(`commentTr_${commentIdx}`).innerHTML = `
      <td class="ten wide left aligned">
        ${comment}
      </td>
      <td class="six wide right aligned">
        ${commentWriterName} ${createdTime}
        <form id="" method="post" action="/board/deletecomment" , onsubmit="return delConfirmForm();"
          style="float: right">
          <input type="hidden" name="postId" value="${postObjId}" />
          <input type="hidden" name="commentObjId" value="${commentObjId}" />
          <input class="btn btn-default btn-sm" type="submit" value="삭제" , name="" style="background-color:gray; color:white" />
        </form>        
        <a class="btn btn-default btn-sm" style="background-color:gray; color:white; float: right" onclick="createUpdateCommentBox('${commentIdx}', '${comment}', '${commentWriterName}', '${createdTime}', '${postObjId}', '${commentObjId}');">수정</a>
      </td>`
    };
    const createUpdateCommentBox = (commentIdx, comment, commentWriterName, createdTime, postObjId, commentObjId) => {
      console.log(commentIdx, comment, commentWriterName, createdTime, postObjId, commentObjId);
      document.getElementById(`commentTr_${commentIdx}`).innerHTML = `
      <td class='ten wide left aligned'>
        <textarea name='commentUpdate' class='form-control' >${comment}</textarea>
      </td>
      <td class='six wide right aligned'>
        <a class="btn btn-default btn-sm" style="background-color:gray; color:white; float: right">확인</a>
        <a class="btn btn-default btn-sm" style="background-color:gray; color:white; float: right" onclick="cancelUpdateCommentBox('${commentIdx}', '${comment}', '${commentWriterName}', '${createdTime}', '${postObjId}', '${commentObjId}');">취소</a>
      </td>`
    };
  </script>
</body>

</html>