<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width = device-width, height = device-height, initial-scale = 1"
    />
    <title>글 보기</title>
    <link rel="stylesheet" href="/public/semantic/out/semantic.min.css" />
    <link rel="stylesheet" href="/public/cleditor/jquery.cleditor.css" />

    <style>
      * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
      }

      html {
        width: 100%;
        height: 100%;
      }

      body {
        width: 100%;
        height: 100%;
        color: #000;
        background-color: #fff;
      }

      .container {
        margin-right: auto;
        margin-left: auto;
        padding-left: 20px;
        padding-right: 20px;
      }

      span {
        color: #999;
      }

      #titleOutput {
        margin-bottom: 10px;
        line-height: 1.2em;
      }

      #contentsOutput {
        margin-top: 10px;
        margin-bottom: 10px;
        line-height: 1.8em;
      }

      #board_title {
        font-size: 1.2em;
        font-weight: bold;
        color: teal;
      }
    </style>

    <script src="/public/jquery-3.1.1.min.js"></script>
    <script src="/public/semantic/out/semantic.min.js"></script>
    <script src="/public/cleditor/jquery.cleditor.min.js"></script>

    <script>
      $(document).ready(function () {
        var output = $("#contentsOutput").text();
        console.log("output : " + output);

        $("#contentsOutput").html(output);
      });
    </script>
  </head>

  <body>
    <div class="container">
      <div class="ui riased segment">
        <a class="ui blue ribbon label">게시판</a>
        <span id="board_title"><%= title %></span>

        <div class="ui blue fluid card">
          <div class="content">
            <% const curTitle = posts._doc.title; 
            const curContents = posts._doc.contents; 
            const curWriter = posts._doc.writer.name;
            const createdTime = moment(posts._doc.created_at).format("LLL");
            console.log(curWriter); 
            const entities = new Entities(); 
            const decodedContents = entities.decode(curContents); %>

            <div id="titleOutput" class="header"><%= curTitle %></div>
            <div class="meta">
              <span class="right floated time"><%= createdTime %></span>
              <span class="category">일반</span>
            </div>
            <div id="contentsOutput" class="description">
              <%= decodedContents %>
            </div>
          </div>
          <div class="extra content">
            <div class="right floated author">
              <img class="ui avatar image" src="/public/images/userIcon.png" />
              <%= curWriter %>
            </div>
          </div>
        </div>
        <br /><br /><a
          class="ui button"
          href="/process/listpost?page=0&perPage=2"
          >글 목록</a
        >
      </div>
    </div>
  </body>
</html>
